[submodule "library/service-3d"]
	path = library/service-3d
	url = https://github.com/laquereric/service-3d.git
[submodule "library/service-exception"]
	path = library/service-exception
	url = https://github.com/laquereric/service-exception.git
[submodule "library/service-portfolio"]
	path = library/service-portfolio
	url = https://github.com/laquereric/service-portfolio.git
[submodule "library/service-table"]
	path = library/service-table
	url = https://github.com/laquereric/service-table.git
[submodule "service-ecosystem-manager"]
	path = service-ecosystem-manager
	url = https://github.com/laquereric/service-ecosystem-manager.git
[submodule "container/service-mermaid"]
	path = container/service-mermaid
	url = https://github.com/laquereric/service-mermaid.git
[submodule "container/service-puml"]
	path = container/service-puml
	url = https://github.com/laquereric/service-puml.git
[submodule "container/service-switch"]
	path = container/service-switch
	url = https://github.com/laquereric/service-switch.git
[submodule "engine/service-core"]
	path = engine/service-core
	url = https://github.com/laquereric/service-core.git
