[submodule "library/service-3d"]
	path = library/service-3d
	url = https://github.com/laquereric/service-3d.git
[submodule "library/service-exception"]
	path = library/service-exception
	url = https://github.com/laquereric/service-exception.git
[submodule "library/service-portfolio"]
	path = library/service-portfolio
	url = https://github.com/laquereric/service-portfolio.git
[submodule "library/service-table"]
	path = library/service-table
	url = https://github.com/laquereric/service-table.git
[submodule "service-ecosystem-manager"]
	path = service-ecosystem-manager
	url = https://github.com/laquereric/service-ecosystem-manager.git
[submodule "container/service-mermaid"]
	path = container/service-mermaid
	url = https://github.com/laquereric/service-mermaid.git
[submodule "container/service-puml"]
	path = container/service-puml
	url = https://github.com/laquereric/service-puml.git
[submodule "container/service-switch"]
	path = container/service-switch
	url = https://github.com/laquereric/service-switch.git
[submodule "engine/service-core"]
	path = engine/service-core
	url = https://github.com/laquereric/service-core.git
[submodule "container/service-3d"]
	path = container/service-3d
	url = https://github.com/laquereric/service-3d.git
[submodule "container/service-id"]
	path = container/service-id
	url = https://github.com/laquereric/service-id.git
[submodule "container/service-rubygems"]
	path = container/service-rubygems
	url = https://github.com/laquereric/service-rubygems.git
[submodule "engine/rayswarm-plugin-wasm3"]
	path = engine/rayswarm-plugin-wasm3
	url = https://github.com/laquereric/rayswarm-plugin-wasm3.git
[submodule "engine/service-portfolio"]
	path = engine/service-portfolio
	url = https://github.com/laquereric/service-portfolio.git
[submodule "library/service-all-containers"]
	path = library/service-all-containers
	url = https://github.com/laquereric/service-all-containers.git
[submodule "library/service-all-ecosystem-managers"]
	path = library/service-all-ecosystem-managers
	url = https://github.com/laquereric/service-all-ecosystem-managers.git
[submodule "library/service-biological-it"]
	path = library/service-biological-it
	url = https://github.com/laquereric/service-biological-it.git
[submodule "library/service-protege-launch"]
	path = library/service-protege-launch
	url = https://github.com/laquereric/service-protege-launch.git
[submodule "library/service-protege"]
	path = library/service-protege
	url = https://github.com/laquereric/service-protege.git
[submodule "container/service-github"]
	path = container/service-github
	url = https://github.com/laquereric/service-github.git
