services:
  web:
    build: .
    ports:
      - "3000:3000"
    environment:
      RAILS_ENV: development
    volumes:
      - .:/app
      - bundle:/usr/local/bundle
    stdin_open: true
    tty: true

volumes:
  bundle:
